*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Raleway';
    font-weight:400;
    position:relative;


}
a{
    text-decoration:none;
    color:black;
}
input,textarea,button,select{
    font-family:'Raleway';
    outline:none;
}
.main-header__item{
    position:relative;
}
.main-header__item::before{
    content :'';
    width:0%;
    position:absolute;
    bottom:0;
    left:0;
    height:1px;
    background:yellow;
    transition : width .5s ease;
}
.main-header__item:hover::before{
    width:100%;
}
header{
    background:black;
}
nav{
    background:white;
}
.profile--dropdown--menu{
    top:66px;
    display:none;
}
.profile--dropdown--trigger:hover > .profile--dropdown--menu{
    display:block;
}